In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../internship.db")

query = """
SELECT 
    interns.name,
    interns.track,
    mentors.mentor_name
FROM interns
INNER JOIN mentors
ON interns.track = mentors.track;
"""

df = pd.read_sql_query(query, conn)

df

    name         track mentor_name
0  Aisha  Data Science     Dr. Rao
1  Rahul       Web Dev   Ms. Priya
2  Arjun  Data Science     Dr. Rao
3  Meera       Web Dev   Ms. Priya